.chip-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chip-detial-canvas-container {
  float: right;
}

.chip-canvas-container {
  float: left;
}